{#
/**
 * @file contact.html.twig
 * Default theme implementation to present entity for contact information regarding future customer data.
 *
 * This template is used when viewing entity for contact information regarding future customer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
