<div class="col-lg-4">
    <img class="img-circle" src={{ image }} alt="Vinduespudser" width="140" height="140">
    <h2>Rengøring og vinduespudsning</h2>
    <p>
        Vi ordner erhverv, privat og trappevask
    </p>
    <p><a class="btn btn-secondary" href="#christian-vinduespudsning-section" role="button">Læs mere &raquo;</a></p>
</div><!-- /.col-lg-4 -->