<div class="col-lg-4">
    <img class="img-circle" src={{ image }} alt="Murer" width="140" height="140">
    <h2>Håndværk</h2>
    <p>
            Vi har mange års erfaring i branchen, og vi levere et godt håndværk!
    </p>
    <p><a class="btn btn-secondary" href="#christian-murer-section" role="button">Læs mere &raquo;</a></p>
</div><!-- /.col-lg-4 -->