<hr class="featurette-divider">
<div class="row featurette" id="christian-vinduespudsning-section">
    <div class="col-md-7">
        <h2 class="featurette-heading">Vi kommer altid til tiden<span class="text-muted"> og kvaliteten er altid 100% i orden. </span>
        </h2>
        <p class="lead">
        <ul>
            <li>
                Indvendig og Udvendig vinduespudsning - mulighed for fast vindues pudsning alt efter dit behov uden
                nogen form for binding<br/>
            </li>
            <li>
                Afrensning af vinduer for eksempelvis klistermærker og maling-rester
            </li>
            <li>
                Vask af vindueskarme
            </li>
            <li>
                Trappevask
            </li>
            <li>
                Persiennevask
            </li>
            <li>
                Tæpperens
            </li>
        </ul>
        </p>
    </div>
    <div class="col-md-5 image-col">
        <img class="featurette-image img-fluid center-block" src={{ image }} alt="Vinduespudsning">
    </div>
</div>