<div class="col-lg-4">
    <img class="img-circle" src={{ image }} alt="Murer" width="140" height="140"/>

    <h2>
        Kontakt os på
    </h2>

    <p>
        <div class="input-group-addon">
            Telefon
        </div>
        <div class="form-control">
            30 13 38 34
        </div>
    </p>
    <p>
        <a class="btn btn-secondary contact-teaser-button" href="#contact-form" role="button">
            Eller lad os kontakte dig &raquo;
        </a>
    </p>
</div>