<hr class="featurette-divider">
<div class="row featurette" id="christian-murer-section">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Håndværk osv. osv.<span class="text-muted"> osv. </span></h2>
        <p class="lead">
        <ul>
            <li>
                Opsætning af Fliser og Klinker
            </li>
            <li>
                Vådrumsikring af fx badeværelser
            </li>
            <li>
                Omfugning af murværk
            </li>
            <li>
                Reparation af murværk
            </li>
            <li>
                Facade isolering og puds
            </li>
            <li>
                Vandskuring
            </li>
        </ul>
        </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-fluid center-block" src={{ image }} alt="murer">
    </div>
</div>