<footer>
    <p class="pull-xs-right"><a href="#">Tilbage til toppen</a></p>
    <p>&copy; 2016 Christians murer firma, Inc. &middot; cvr:232323231 <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>