<nav class="navbar navbar-static-top navbar-light bg-faded">
    <div class="navbar-brand">BYENS MURERMESTER - Christian Ulrich Brink - Kolding og omegn</div>
    <div
            class="fb-like pull-xs-right"
            data-share="true"
            data-action="like"
            data-width="450"
            data-show-faces="true"
            data-href="http://www.facebook.com/matti.a.nielsen"
            data-layout="standard">
    </div>
</nav>
