<hr class="featurette-divider">
<div class="row featurette" id="christian-murer-section">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Verdensklasse håndværk<span class="text-muted"> og det er billigt</span></h2>
        <p class="lead">
            Hos os får du dansk murerarbejde fra start til slut, både når det drejer sig om store entrepriser eller små mureropgaver efter aftale.
            Vi giver dig sikkerhed for professionelt håndværk med en tilfredsstillende service oveni. Og så er vi naturligvis omfattet af Byggaranti, hvis uheldet skulle være ude.
            Vi er stolte af tilfredse kunder, og det bliver vi kun ved med at have, hvis kvaliteten hver gang er i top og prisen er konkurrencedygtig.
        </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-fluid center-block" src={{ image }} alt="murer">
    </div>
</div>