<hr class="featurette-divider">
<div class="row featurette" id="christian-vinduespudsning-section">
    <div class="col-md-7">
        <h2 class="featurette-heading">Rengøring der holder dine flader skinnende rene <span class="text-muted"> hos privat, erhverv og trappeopgange </span></h2>
        <p class="lead">
            For mange mennesker står rengøring ikke øverst på deres to-do liste.
            rengøring er både tidskrævende og vanskeligt.
            I stedet kan du få en professionel rengøringsperson hos os til at sørge for,
            at dine flader er flotte og rene året rundt til en lav pris — og uden at få sved på panden.
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid center-block" src={{ image }} alt="Vinduespudsning">
    </div>
</div>